/* General */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");
body {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  font-family: 'Nunito', sans-serif;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../images/City-Club1.jpg);

}
.container {
  width: 90%;
  height: 100%;
  margin: auto;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color:#FFA500;
}

.where {
  background-color: #FFA500;
}
.where a {
  color: #fff;
}
nav {
  overflow: hidden;
  height: 80px;
  margin-top: -19px;
}

nav .logo {
  width: 20%;
  float: left;
  font-size: 30px;
  font-weight: 700;
  color: #FFA500;
  line-height: 50px;
  letter-spacing: 1.5px;
}
nav .logo a {
  color: #FFA500;
}

nav .menu {
  float: right;
  width: 60%;
  height: 100%;
}
nav .menu ul {
  float: right;
  display: inline-block;
}
nav .menu ul li {
  display: inline-block;
  margin: 15px 10px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  padding: 10px 20px;
  line-height: 20px;
  transition: background-color 0.5s;
}
nav .menu ul li:hover {
  background-color: #FFA500;
}
nav .menu ul li:hover a {
  color: #fff;
}

footer {
  background-color: #FFA500;
  padding: 10px;
}
.footer-content {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .menu {
  width: 32%;
  padding: 20px;
}
footer .menu ul li {
  font-size: 19px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: letter-spacing 0.5s;
}
footer .social-media ul li a,
footer .menu ul li a {
  color: #fff;
}
.social-media ul,
footer .menu ul {
  padding-inline-start: 0;
}
footer .menu ul li:hover {
  letter-spacing: 2px;
}

footer .menu span {
  text-decoration: underline;
  color: #fff;
  font-size: 23px;
}

.copyright {
  margin: 10px auto;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 19px;
}
.social-media,
.newlister {
  color: #fff;
  justify-content: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.newlister {
  width: 34%;
}
.social-media span,
.newlister span {
  font-size: 23px;
}
.newlister input {
  margin: 20px 0;
  padding-left: 5px;
  outline: 0;
  border: 0;
  width: 250px;
  height: 34px;
  color: #FFA500;
}
.newlister button {
  outline: 0;
  border: 2px solid #fff;
  width: 260px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  padding: 8px 0;
}
.newlister button:hover {
  color: #FFA500;
  background-color: #fff;
}
.social-media {
  width: 32%;
}
.social-media ul li {
  cursor: pointer;
  padding: 8px 0;
  font-size: 19px;
  transition: letter-spacing 0.5s;
}
.social-media ul li:hover {
  letter-spacing: 2px;
}
.social-media ul li i {
  cursor: pointer;
  font-size: 30px;
  margin-right: 10px;
}
/* Home Page */
.wrapper img {
  width: 100%;
  height: 85vh;
  image-rendering: auto;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.wrapper div{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper div span {
  color: #ffffff;
  font-size: 50px;
  display: block;
  font-weight: 700;
  text-align: center;
}
.wrapper div p {
  color: #FFA500;
  font-size: 21px;
  font-weight: 600;
  margin: 35px 0;
  text-align: center;
}
.wrapper div button {
  background-color: transparent;
  color: #FFA500;
  border: 2px solid #FFA500;
  font-size: 21px;
  font-weight: 600;
  outline: 0;
  padding: 10px 25px;
  margin-top: 15px;
  cursor: pointer;
  transition: background-color 0.5s;
  text-align: center;
}
.wrapper div button:hover {

  background-color: #FFA500;
  color: #fff;
}
.wrapper div {
  width: 45%;
  position: center;
  justify-content: center;
  align-items: center;
}

.featured-catagories h2 {
  margin: 25px 0;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  color: #FFA500;
}
.featured-catagories h2::after {
  content: "";
  width: 160px;
  height: 6px;
  background-color: #FFA500;
  display: block;
  margin: auto;
}
.products {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 45px auto;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.product-item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  padding: 25px 10px;
 transition: box-shadow 0.5s ease-in-out;
}
.product-item:hover {
  box-shadow: 1px 1px 10px 3px #b4aba7f2;
}
.product-item img {
  width: 100%;
  height: 60%;
}
.product-item .description {
  padding: 10px;
}

.product-item .description h3 {
  text-align: center;
  color:#FFA500;
}
.product-item .description .desc {
  text-align: center;
  color: #ffffff;
}
/*.stars-price {*/
/*  margin: 20px auto 0;*/
/*  bottom: 3%;*/
/*  position: absolute;*/
/*  overflow: hidden;*/
/*  width: 90%;*/
/*}*/
/*.stars-price .stars {*/
/*  color: gold;*/
/*  display: inline-block;*/
/*  float: left;*/
/*}*/
.stars-price .price {
  color: #FFA500;
  align-items: center;
  font-weight: 700;
}

.argan-desc {
  position: relative;
  text-align: center;
  background-image: url(../images/tgg.jpeg);
  background-attachment: fixed;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.argan-desc div {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  height: 100%;
}
.argan-desc span {
  font-size: 35px;
  font-weight: 700;
}
.argan-desc p {
  font-size: 21px;
}
.argan-desc span,
.argan-desc p {
  color: #fff;
}

/* foreign-distribution */
.foreign-distribution {
  position: relative;
  width: 100%;
}

.foreign-distribution-title {
  margin: 20px 0;
  width: 40%;
}
.foreign-distribution h2 {
  text-align: center;
  color: #FFA500;
  text-decoration: underline;
}
.foreign-distribution img {
  image-rendering:cover;
  width: 100%;
}

/* about us */

.about-us {
  position: relative;
  width: 100%;
  padding: 40px 0;
}
.contact-us span,
.about-us span {
  width: 100%;
  font-size: 30px;
  font-weight: 700;
  color: #FFA500;
  text-decoration: underline;
}
.about-us h2 {
  color: #FFA500;
  text-align: center;
  text-decoration: underline;
  margin: 40px auto;
}
.about-us p {
  color: #FFA500;
  text-align: center;
  width: 80%;
  margin: auto;
}

/* contact us */
.contact-us {
  position: relative;
  width: 80%;
  padding: 40px 0;
  margin: auto;
}
.contact-us form label {
  color: #FFA500;
  display: block;
  margin-top: 20px;
}
.contact-us form input {
  color: #ffffff;
  padding-left: 15px;
  width: 80%;
  height: 30px;
  background-color: transparent;
  border: 1px solid #FF8C00;
  outline: 0;
}
.contact-us form select  {
  color: #ffffff;
  background-color: black;
  padding-left: 15px;
  width: 80%;
  height: 30px;
  border: 1px solid #FF8C00;
  outline: 0;
}
.contact-us form textarea {
  color: #ffffff;
  padding: 15px;
  width: 80%;
  background-color: transparent;
  border: 1px solid #FF8C00;
  outline: 0;
  max-width: 80%;
}
.submit-btn {
  background-color: #FF8C00;
  color: #fff;
  font-size: 21px;
  font-weight: 600;
  outline: 0;
  border: 0;
  padding: 10px 35px;
  margin-top: 15px;
  cursor: pointer;
  display: block;
}
.submit-btn:hover {
  opacity: 0.8;
}
input[type=submit]{
  background-color: #FF8C00;
  color: #000000;
  font-size: 21px;
  font-weight: 600;
  outline: 0;
  border: 0;
  padding: 10px 35px;
  margin-top: 15px;
  cursor: pointer;
  display: block;
}
input[type=submit] :hover{
  background-color: transparent;
  color: #FFA500;
  border: 2px solid #FFA500;
  font-size: 21px;
  font-weight: 600;
  outline: 0;
  cursor: pointer;
}
/*----------------detail_produit-----------------*/
.container form{
  font-family: "Roboto", sans-serif;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  opacity: 99%;
  max-width: 260px;
  margin: 200px auto 100px;
  padding: 10px 45px 30px 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 10px;
}
.container form p{
  font-size: 15px;
  padding: 1px;
  text-align: center;
}
.form.container form{
  outline: 0;
  border-radius: 10px;
  background: #F2F2F2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.container form input:hover{
  background-color: #FFA500;
  transition: all 1s ease 0s;
}
.container form input:focus{
  background-color:#FFA500;
  transition: all 1s ease 0s;
}
.container form button{
  text-transform: uppercase;
  outline: 0;
  border-radius: 10px;
  background:#FF8C00;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}
.container form button:hover, .form button:active, .form button:focus{
  background-color:#FF8C00;
  transition: all 1s ease 0s;
}
